.wrapper
  .contents-wrapper
    .contents
      %h1{class: "contents__signin-up"}
        アカウント作成
      .contents__login-form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          .contents__login-form__upper
            = f.text_field :name, placeholder: 'ユーザ名', class: 'contents__login-form__upper__user-name form-control'
          .contents__login-form__lower
            = f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'contents__login-form__lower__password form-control'
            .contents__login-form__lower__div-login-btn
              = f.submit "アカウント作成", class: 'contents__login-form__lower__div-login-btn__login-btn btn btn-primary'
      .contents__options
        = link_to 'Twitterで新規登録/ログイン', user_twitter_omniauth_authorize_path, class: 'contents__options twitter btn btn-block'
        %p{class: 'contents__options__caution'}
          許可なくSNSに投稿することはありません。
        = link_to 'ログイン', '/users/sign_in', class: 'contents__links__link'
