.wrapper
  %header{class: 'main-header'}
    .main-header__title
      %h1{class: 'main-header__title__howl'}Howl
    .main-header__search
      %p{class: 'main-header__search__box'}検索窓
    %ul{class: 'main-header__lists'}
    -if user_signed_in? then
      %li{class: 'main-header__lists__list'}
        = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'main-header__lists__list__logout link'
      %li{class: 'main-header__lists__list'}
        = link_to 'マイページ', '#', class: 'main-header__lists__list__mypage link'
      %li{class: 'main-header__lists__list'}
        = link_to '投稿する', '#', class: 'main-header__lists__list__post link'
    -else
      %li{class: 'main-header__lists__list'}
        = link_to 'アカウント作成', new_user_registration_path, class: 'main-header__lists__list__sign-up link'
      %li{class: 'main-header__lists__list'}
        = link_to 'ログイン', new_user_session_path, class: 'main-header__lists__list__login link normal-link'
  .index-page-wrapper
    .index-page-contents
      .index-page-contents__message-box
        - if user_signed_in?
          %h3{class: 'index-page-contents__message-box__message'}ようこそ #{current_user.name} さん！
        - else
          %h3{class: 'index-page-contents__message-box__message'}ようこそ！
      .index-page-contents__articles
        .index-page-contents__articles__tabs
          %ul{class: 'index-page-contents__articles__tabs__tab-lists'}
            %li{class: 'index-page-contents__articles__tabs__tab-lists__tab'}
              = link_to 'フォロータグ', '#', class: 'index-page-contents__articles__tabs__tab-lists__tab__follow-tags'
            %li{class: 'index-page-contents__articles__tabs__tab-lists__tab'}
              = link_to 'すべての投稿', '#', class: 'index-page-contents__articles__tabs__tab-lists__tab__all-articles'
        .index-page-contents__articles__articles-area.clearfix
          %ul{class: 'index-page-contents__articles__articles-area__article-lists'}
            = render @articles
