.wrapper
  .contents-wrapper
    .contents
      %h1{class: "contents__signin-up"}
        ログイン・アカウント作成
      .contents__login-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .contents__login-form__upper
            = f.email_field :email, placeholder: 'ユーザ名', class: 'contents__login-form__upper__user-name form-control'
          .contents__login-form__lower
            = f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'contents__login-form__lower__password form-control'
            .contents__login-form__lower__div-login-btn
              = f.submit "ログイン", class: 'contents__login-form__lower__div-login-btn__login-btn btn btn-primary'
        = link_to "パスワードを忘れた場合", new_password_path(resource_name)
      .contents__options
        = link_to 'Twitterで新規登録/ログイン', "#", class: 'contents__options twitter btn btn-block'
        = link_to 'Facebookで新規登録/ログイン', "#", class: 'contents__options facebook btn btn-block'
        %p{class: 'contents__options__caution'}
          許可なくSNSに投稿することはありません。
        %p{class: 'contents__options__new'}
          = link_to 'SNS以外で', '', class: 'contents__options__new__link'
          登録する
