!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Howl
    %link{href: "https://fonts.googleapis.com/css?family=Raleway", rel: "stylesheet"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?

  %body
    = if notice
      %p{class: "alert alert-notice"}
        = notice
    = if alert
      %p{class: "alert alert-error"}
        = alert
    = yield
